{% extends 'base/index.html' %}
{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static "css/about.css" %}">

{% endblock %}


{% block body %}

<div id="teambox">
    <p id="teamtitle">About the Team</p>
    <p>
      Hailing from all over Scotland; LockOut brings together players and tournament organisers
      alike to usher in a new era of Scottish Smash. The group and its members have collectively
      ran 20+ Smash tournaments: including various OSU, Rushdown Edinburgh and Hypespotting events.
      With this new collaboration, our goal is to increase the quality of events within Scotland
      and to provide a new, fresh experience for those travelling to the North.
    </p>
</div>

<div class="container-fluid">

    <div class="col-sm-6">
        <div class="playerboxes">
            <div class="row">
                <div class="col-sm-4">
                    <a href="http://www.twitter.com/PhadeTV"><img class="playerpics" src="https://twitter.com/phadetv/profile_image?size=bigger"></a>
                </div>
                <div class="col-sm-8">
                    <p class="playertitle">Lee Thomson</p>
                    <p class="playerroles">Founder, Events Manager</p>
                    <p class="playerdesc">Other shit</p>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="playerboxes">
            <div class="row">
                <div class="col-sm-4">
                    <a href="http://www.twitter.com/MasklessGG"><img class="twitter" src="https://twitter.com/masklessgg/profile_image?size=bigger" style="height:120px;width:120px;"></a>
                </div>
                <div class="col-sm-8">
                    <p class="playertitle">Dylan Clark</p>
                    <p class="playerroles">Founder, Events Manager</p>
                    <p class="playerdesc">yakketysax</p>
                </div>
            </div>
        </div>
    </div>



    <div class="col-sm-6">
        <div class="playerboxes">
            <div class="row">
                <div class="col-sm-4">
                    <a href="http://www.twitter.com/MasklessGG"><img class="twitter" src="https://twitter.com/masklessgg/profile_image?size=bigger" style="heigh120px;width:120px;"></a>
                </div>
                <div class="col-sm-8">
                    <p class="playertitle">Rebecca Michaelsen</p>
                    <p class="playerroles">Tournament Assistant</p>
                    <p class="playerdesc">yakketysax</p>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="playerboxes">
            <div class="row">
                <div class="col-sm-4">
                    <a href="http://www.twitter.com/SShadows28"><img class="twitter" src="https://twitter.com/SShadows28/profile_image?size=bigger" style="heigh120px;width:120px;"></a>
                </div>
                <div class="col-sm-8">
                    <p class="playertitle">Josh William Neill</p>
                    <p class="playerroles">Tournament Assistant</p>
                    <p class="playerdesc">yakketysax</p>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="playerboxes">
            <div class="row">
                <div class="col-sm-4">
                    <a href="http://www.twitter.com/GlaikitB"><img class="twitter" src="https://twitter.com/glaikitb/profile_image?size=bigger" style="heigh120px;width:120px;"></a>
                </div>
                <div class="col-sm-8">
                    <p class="playertitle">Gregor Beatson</p>
                    <p class="playerroles">Tournament Assistant</p>
                    <p class="playerdesc">yakketysax</p>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}


<!DOCTYPE html>
