{% load static %}

<html>
  <head>
    <title>Lochout</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static "js/bootstrap.js" %}"</script>
    <script src="{% static "js/bootstrap.min.js" %}"</script>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    {% block style %}  {% endblock %}
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <!-- <div class="nav"> -->
          <ul id="menu">
            <li><a href="/">Lochout</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/events/">Events</a></li>
            <li><a href="/rules/">Rules</a></li>
            <li><a href="/partners/">Partners</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        <!-- </div> -->
      </div>
    </header>
    <div class="row" id="wrapper">
      {% block body %}  {% endblock %}
    </div>

    <footer>

    </footer>
  </body>

</html>
