{% extends 'base/index.html' %}

{% block head %}  {% endblock %}

{% block body %}
<div id="map"></div>
<script>
  function initMap() {
    var drygate = {lat: 55.860157, lng: -4.236};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: drygate
    });
    var marker = new google.maps.Marker({
      position: drygate,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKxJyqOrbc3DQf7olGEyepItzdOVME0H8&callback=initMap">
</script>
{% endblock %}
