{% extends 'base/index.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="col-sm-6">
  <p>
    <em class="bioHeader">Drygate</em>
    <!-- <a href="http://www.twitter.com/SDS_X1"><img class="twitter" src="./img/twitter3.png"></a> -->
    <br>
    <em class="bioRole">blahblah</em><br>
    Ye
    </p>
</div>

<div class="col-sm-6">
  <p>
    <em class="bioHeader">Pheonix Dawn</em>
    <!-- <a href="http://www.twitter.com/SDS_X1"><img class="twitter" src="./img/twitter3.png"></a> -->
    <br>
    <em class="bioRole">aksdjh</em><br>
    Ye
    </p>
</div>
{% endblock %}
